<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}Exam {% endblock %}</title>
</head>

<body>

<div id="menu-bars" class="fas fa-bars"></div>

<header>
   
    <div class="user">
        <img src="../static/images/logo.jpg" alt="">
        <a href="#" class="logo"><span>Assess</span>Ment</a>
    </div>

    <ul class="navbar">
        <a href="/about">About us</a> 
        <a href="/">Logout</a>
        <a href="/feedback">Feedback</a>
    </ul>
      
    <div class="social_icon">
        <span><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></span>
        <span><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></span>
        <span><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></span>
        <span><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
    </div>
</header>
<!-- header section ends     -->

<!-- home section starts -->
<section class="exam" id="formCont1">
    <h1 class="heading"> Department of<span> natural resource  </span></br> institutional Assessment</h1>
    <div class="content">
        <h1 class="intro"><b>Instruction </b></h1>
        <p class="intro">read the question below cairfully and select the appropriate answer ...</p>
        <p class="intro">you can play around the quesions using next and previous buttons...</p>
        <p class="intro">by any meanse do not attempt to cheat and use camera embodied devicess </p>
</br> 
        <h1 class="heading">  question number 1</h1>
        <h1 class="info"> natural resource department is least related to </h1>
</br>   <h1 class="text"> animal production</h1>      
        <h1 class="text"> crop production</h1>      
        <h1 class="text"> small scale irrigation </h1> 
        <h1 class="text"> cooprative accounting </h1> 
        
    <a href="# previous" class="btn">Previous Question</a>
    <a href="# Next" class="btn">Next Question </a>         
</section>
     <P><a href="# End_exam" class="btne">End exam</a>  </P>
<footer class="footer"> created by <span> mr. Alemayehu GebreMichael</span> | all rights reserved! </footer>

<!-- custom css file link -->
<script src="../static/js/script.js"></script>
</body>

</html>
