<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %} Teachers {% endblock %}</title>
</head>

<body>



<div id="menu-bars" class="fas fa-bars"></div>

<!-- header section starts -->
<header>
   
    <div class="user">
        <img src="../static/images/logo.jpg" alt="">
        <a href="#" class="logo"><span>Assess</span>Ment</a>
    </div>
   
    <ul class="navbar">
        <a href="/">Home</a> 
        <a href="/add_exam?role=teacher">Add Question </a>
        <a href="/delet_exam?role=teacher">Delet Question</a>
        <a href="/edit_exam?role=teacher">Edit Question</a>
        <a href="/view_exam?role=teacher">View Question</a>
        <a href="/">Logout </a> 
    </ul>

    <div class="social_icon">
        <span><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></span>
        <span><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></span>
        <span><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></span>
        <span><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
    </div>
</header>
<!-- header section ends     -->

    <div class="container">
        <form action="/Add_question" method="post">
            <div class="form-group">
                <textarea name="ques" class="form-control" placeholder="Enter the question"></textarea>
            </div>
            <div class="form-group">
                <label for="choice1">Choice 1:</label>
                <input type="text" id="choice1" name="choice1" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="choice2">Choice 2:</label>
                <input type="text" id="choice2" name="choice2" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="choice3">Choice 3:</label>
                <input type="text" id="choice3" name="choice3" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="choice4">Choice 4:</label>
                <input type="text" id="choice4" name="choice4" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="correct_answer">Correct Answer (1-4):</label>
                <input type="number" id="correct_answer" name="correct_answer" min="1" max="4" class="form-control" required>
            </div>
             <div class="text-center">
                <button class="btn btn-primary" href="/Add_question">Add this Question</button>
                <a class="btn btn-success" href="/Add_question">End</a>
            </div>
        </form>
    </div>
</body>
</html>