<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}Institutional assessment platform {% endblock %}</title>
</head>

<body>

<!-- custom cursors -->

<div id="menu-bars" class="fas fa-bars"></div>

<!-- header section starts -->
<header>
    <div class="user">
        <img src="../static/images/logo.jpg" alt="">
        <a href="#" class="logo"><span>Assess</span>Ment</a>
    </div>

    <ul class="navbar">
        <a href="/login">Manage Instructors</a> 
        <a href="/login">Manage Students</a> 
        <a href="/sign_up">Schedule Exam</a> 
        <a href="/feedback">Manage Feedback</a>        
        <a href="/">Logout</a>

    </ul>

    <div class="social_icon">
        <span><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></span>
        <span><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></span>
        <span><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></span>
        <span><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
    </div>
</header>
<!-- header section ends     -->

<!-- home section starts -->
<section class="home" id="home">
    <div class="content">
        <h1 class="heading"> this is the system adminstrators page </span></h1>
        <h1 class="heading"> Soddo agri collage  <span> Institutional assessment platform</span></h1>
    </div>
    <div class="image">
        <img src="../static/images/students.jpg" alt="">
    </div>  
</section>
<!-- home section ends -->

<!-- footer section  -->
<footer class="footer"> created by <span> mr. Alemayehu GebreMichael</span> | all rights reserved! </footer>
<script src="../static/js/script.js"></script>
</body>

</html>