<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}Exam {% endblock %}</title>
</head>

<body>

<header>
   
    <div class="user">
        <img src="../static/images/logo.jpg" alt="">
        <a href="#" class="logo"><span>Assess</span>Ment</a>
    </div>

    <ul class="navbar">
        <a href="/about">About us</a> 
        <a href="/">Logout</a>
        <a href="/feedback">Feedback</a>
    </ul>
      
    <div class="social_icon">
        <span><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></span>
        <span><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></span>
        <span><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></span>
        <span><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
    </div>
</header>
<!-- header section ends     -->

<!-- home section starts -->
<section class="home" id="home">
    <div class="content">
        <h1 class="heading"> Department of<span> natural resource  </span></br> institutional Assessment</h1>    
        <p class="heading">Exam Instruction</p>
        <h1 class="intro"><b>Instructions:</b></h1>
            <ul class="intro">
                <li>Read the question below carefully and select the appropriate answer.</li>
                <li>You can navigate through the questions using the next and previous buttons.</li>
                <li>Do not attempt to cheat by using camera-equipped devices.</li>
            </ul>
        </div>
</br> 
<div class="exam">
<h1 class="heading">Question number 1</h1>
<h1 class="info">Natural resource department is least related to:</h1>

   <!-- Display questions from the database here -->

<div class="choices">
    <input type="radio" id="choice1" name="answer" value="animal_production">
    <label for="choice1" class="text">Animal production</label><br>

    <input type="radio" id="choice2" name="answer" value="crop_production">
    <label for="choice2" class="text">Crop production</label><br>

    <input type="radio" id="choice3" name="answer" value="small_scale_irrigation">
    <label for="choice3" class="text">Small-scale irrigation</label><br>

    <input type="radio" id="choice4" name="answer" value="cooperative_accounting">
    <label for="choice4" class="text">Cooperative accounting</label><br>
</div>
</section>       
    <a href="# previous" class="btn">Previous Question</a>
    <a href="# Next" class="btn">Next Question </a>         

</section>
<section class="footer">
    <div class="button-container">
        <a href="#previous" class="btn">Previous Question</a>
        <a href="#Next" class="btn">Next Question</a>
        <a href="#End_exam" class="btne">End exam</a>
    </div>

</body>

</html>
